.comment-input {
  min-height: 2.5em;
  width: 100%;
  font-size: 1.2rem;
  line-height: 16.08px;
  border: none;
  outline: none;
  background-color: #f0f2f5;
  border-radius: 20px;
  box-shadow: none;
  padding-left: 2rem;
}
.comment-icon {
  cursor: pointer;
}
